<a href="https://colab.research.google.com/github/laurastoleru/DS1002/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [1]:
import pandas as pd
data = pd.read_csv('https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv')

In [8]:
num_rows, num_columns = data.shape
num_rows, num_columns

(25760, 10)

In [10]:
data['duration'] = data['duration'].astype('int')

In [11]:
print(data.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [13]:
min_duration = data['duration'].min()
max_duration = data['duration'].max()
print("Minimum duration:", min_duration)
print("Maximum duration:", max_duration)

Minimum duration: 1
Maximum duration: 1372

In [14]:
rides_under_60 = data.query('duration <= 60')
print(rides_under_60)

       duration  station_A_id  \
0            12            81
1            24             3
2             8            67
3             4            16
4            11            22
...         ...           ...
25755        11            15
25756        10            15
25757        14            15
25758        14            15
25759        29            16

                                          station_A_name  station_B_id  \
0                                     Berry St at 4th St           323
1           Powell St BART Station (Market St at 4th St)           118
2      San Francisco Caltrain Station 2  (Townsend St...            23
3                                Steuart St at Market St            28
4                                  Howard St at Beale St           350
...                                                  ...           ...
25755  San Francisco Ferry Building (Harry Bridges Pl...            34
25756  San Francisco Ferry Building (Harry Bridges Pl...            34
25757  San Francisco Ferry Building (Harry Bridges Pl...            42
25758  San Francisco Ferry Building (Harry Bridges Pl...            42
25759                            Steuart St at Market St           115

                                      station_B_name  bike_id  user_type  \
0                                 Broadway at Kearny     5480          2
1                    Eureka Valley Recreation Center     5193          2
2                      The Embarcadero at Steuart St     3652          3
3                       The Embarcadero at Bryant St     1883          1
4                               8th St at Brannan St     4626          2
...                                              ...      ...        ...
25755                 Father Alfred E Boeddeker Park     5063          1
25756                 Father Alfred E Boeddeker Park     5411          2
25757  San Francisco City Hall (Polk St at Grove St)     5157          2
25758  San Francisco City Hall (Polk St at Grove St)     4438          2
25759                             Jackson Playground     1705          3

       user_birth_year user_gender  tire_size
0                 1959        Male         26
1                 1965        Male         27
2                 1993        Male         29
3                 1979        Male         26
4                 1994        Male         27
...                ...         ...        ...
25755             2000        Male         26
25756             1998        Male         26
25757             1995        Male         26
25758             1995        Male         27
25759             1990        Male         27

[25544 rows x 10 columns]

In [17]:
new_min_duration = rides_under_60['duration'].min()
new_max_duration = rides_under_60['duration'].max()
print("New minimum duration:", new_min_duration)
print("New maximum duration:", new_max_duration)

New minimum duration: 1
New maximum duration: 60

In [18]:
rides_under_60 = rides_under_60.query('tire_size == 26')
print(rides_under_60)

       duration  station_A_id  \
0            12            81
3             4            16
6            16            67
9             5            30
12            7             3
...         ...           ...
25750        15            16
25751        15            16
25755        11            15
25756        10            15
25757        14            15

                                          station_A_name  station_B_id  \
0                                     Berry St at 4th St           323
3                                Steuart St at Market St            28
6      San Francisco Caltrain Station 2  (Townsend St...           107
9         San Francisco Caltrain (Townsend St at 4th St)            62
12          Powell St BART Station (Market St at 4th St)            27
...                                                  ...           ...
25750                            Steuart St at Market St           371
25751                            Steuart St at Market St           371
25755  San Francisco Ferry Building (Harry Bridges Pl...            34
25756  San Francisco Ferry Building (Harry Bridges Pl...            34
25757  San Francisco Ferry Building (Harry Bridges Pl...            42

                                      station_B_name  bike_id  user_type  \
0                                 Broadway at Kearny     5480          2
3                       The Embarcadero at Bryant St     1883          1
6                              17th St at Dolores St     1035          2
9                        Victoria Manalo Draves Park      333          1
12                           Beale St at Harrison St     1863          3
...                                              ...      ...        ...
25750                     Lombard St at Columbus Ave     4372          2
25751                     Lombard St at Columbus Ave     5246          1
25755                 Father Alfred E Boeddeker Park     5063          1
25756                 Father Alfred E Boeddeker Park     5411          2
25757  San Francisco City Hall (Polk St at Grove St)     5157          2

       user_birth_year user_gender  tire_size
0                 1959        Male         26
3                 1979        Male         26
6                 1981        Male         26
9                 1994        Male         26
12                1998        Male         26
...                ...         ...        ...
25750             1994        Male         26
25751             1995        Male         26
25755             2000        Male         26
25756             1998        Male         26
25757             1995        Male         26

[12761 rows x 10 columns]

In [23]:
female_riders = rides_under_60[(rides_under_60['user_gender'] == 'Female') & (rides_under_60['tire_size'] == 26)].shape[0]
female_riders

2962

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [30]:
messydata = pd.read_csv('https://raw.githubusercontent.com/aaron-abrams-uva/DS1002-S24/main/data/more-messy-data.csv')
messydata.duplicated()
print(messydata.duplicated().sum())

287

In [31]:
messydata = messydata.drop_duplicates()

In [39]:
updated_columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
messydata[updated_columns] = messydata[updated_columns].fillna(messydata[updated_columns].mean(numeric_only=True))
messydata

       id  sepal_length  sepal_width  petal_length petal_width     species
0       1      3.500000      2.90000           1.4         0.5   virginica
1       2      3.600000      3.20000           3.0         0.5      setosa
2       3      3.800000      2.98876           2.2         1.5      setosa
3       4      5.800000      2.70000           2.6         1.2   virginica
4       5      4.900000      3.60000           3.0         1.2   virginica
...   ...           ...          ...           ...         ...         ...
1311  412      4.522004      3.60000           2.9         0.5  Versicolor
1312  413      5.800000      2.70000           2.0         0.1  Versicolor
1313  414      3.300000      3.70000           1.3         2.8  Versicolor
1314  415      3.100000      2.98876           1.1         NaN  Versicolor
1315  416      4.300000      2.50000           1.3           1  Versicolor

[1029 rows x 6 columns]

In [40]:
messydata_drop_all = messydata.dropna()
messydata_drop_all

       id  sepal_length  sepal_width  petal_length petal_width     species
0       1      3.500000      2.90000           1.4         0.5   virginica
1       2      3.600000      3.20000           3.0         0.5      setosa
2       3      3.800000      2.98876           2.2         1.5      setosa
3       4      5.800000      2.70000           2.6         1.2   virginica
4       5      4.900000      3.60000           3.0         1.2   virginica
...   ...           ...          ...           ...         ...         ...
1310  411      4.800000      2.60000           1.9         0.9  Versicolor
1311  412      4.522004      3.60000           2.9         0.5  Versicolor
1312  413      5.800000      2.70000           2.0         0.1  Versicolor
1313  414      3.300000      3.70000           1.3         2.8  Versicolor
1315  416      4.300000      2.50000           1.3           1  Versicolor

[887 rows x 6 columns]

In [47]:
number_of_species = messydata_drop_all['species'].nunique()
number_of_species

9

In [48]:
messydata_drop_all['species'].unique()

array(['virginica', 'setosa', 'Versicolor', 'setoso', 'Viginica',
       'Virginia', 'Setosa', 'Setosan', 'versicolor'], dtype=object)

In [55]:
messydata_drop_all.loc[messydata_drop_all['species'] == 'setosa', 'species'] = 'Setosa'
messydata_drop_all.loc[messydata_drop_all['species'] == 'setoso', 'species'] = 'Setosa'
messydata_drop_all.loc[messydata_drop_all['species'] == 'Setosa', 'species'] = 'Setosa'
messydata_drop_all.loc[messydata_drop_all['species'] == 'Setosan', 'species'] = 'Setosa'
messydata_drop_all.loc[messydata_drop_all['species'] == 'virginica', 'species'] = 'Virginica'
messydata_drop_all.loc[messydata_drop_all['species'] == 'Viginica', 'species'] = 'Virginica'
messydata_drop_all.loc[messydata_drop_all['species'] == 'Virginia', 'species'] = 'Virginica'
messydata_drop_all.loc[messydata_drop_all['species'] == 'Iris-virginica', 'species'] = 'Virginica'
messydata_drop_all.loc[messydata_drop_all['species'] == 'Iris-versicolor', 'species'] = 'Versicolor'
messydata_drop_all.loc[messydata_drop_all['species'] == 'versicolor', 'species'] = 'Versicolor'
print("Number of unique species after cleanup:", messydata_drop_all['species'].unique())

Number of unique species after cleanup: ['Virginica' 'Setosa' 'Versicolor']

3. Bonus:  Regular expressions

My expression is [A-Z]{3}\d{4}$.
A-Z clarifies that the letters must be uppercase from A to Z.
{3} clarifies that [A-Z] should occur 3 times (there should be 3 uppercase letters).
/d is for any number that is 1 digit long.
{4} clarifies that there should be 4 digits.

I researched and found out that $ must be placed at the end of expression in order to clarify that all the steps of the pattern that I wrote must be fully correct in order to be a match.

In [57]:
import re
exp = r'^[A-Z]{3}\d{4}$'
test = 'ABC1234'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

print(type(re.match(exp,test)))
print(bool(re.match(exp,test)))

match!
<class 're.Match'>
True

In [58]:
import re
exp = r'^[A-Z]{3}\d{4}$'
test = 'AB184'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

print(type(re.match(exp,test)))
print(bool(re.match(exp,test)))

no match
<class 'NoneType'>
False

In [59]:
import re
exp = r'^[A-Z]{3}\d{4}$'
test = 'aBC1234'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

print(type(re.match(exp,test)))
print(bool(re.match(exp,test)))

no match
<class 'NoneType'>
False

In [60]:
import re
exp = r'^[A-Z]{3}\d{4}$'
test = 'hello'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

print(type(re.match(exp,test)))
print(bool(re.match(exp,test)))

no match
<class 'NoneType'>
False